// Define colors here.
:root {
  --black: #000;
  --white: #fff;
  --purple: #ac71ac;
  --purpleDark: #aa51aa;
  --darkOnLight: #293841;
  --grey: #f7f9fd;
  --grey63: #98a1ab;
  --grey98: #f7f9fd;
  --grey85: #d1d8e0;
}
