$transition: 0.4s ease;
$svg-path: '/themes/custom/ga_test_mudasir/dist/svg';
$img-path: '/themes/custom/ga_test_mudasir/dist/images';
$font-path: '/themes/custom/ga_test_mudasir/fonts';
$container-max-width: rem(1110px);
$container-wide-max-width: rem(1440px);
$container-large-width: rem(1920px); //Assuming large screen viewports
